#root {
  height: inherit;
}

.App {  
  font-family: 'Alegreya', serif;
  /* background-image: url('http://imagizer.imageshack.com/a/img924/5383/6TKpYP.jpg'); */
  background-image: url('https://wallpapercave.com/wp/wp2427537.jpg');
  background-position: 0 30%;
  background-repeat:no-repeat;
  background-attachment:fixed;
  overflow: scroll;
  height: 100%;
}

.folk-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  padding: 1vw 5vw;
}

.folk-list {
}

.folk-card {
  height: 25vh;
  font-size: 1.2em;
}

.folk-card:hover {
  transform: translate(-1px, -1px);
  box-shadow: 3px 3px 6px;
}

.folks-filters {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}

.folk-modal p{
  word-wrap: break-word;
}

.menu {
  height: 6vh;
  background-color: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 2px 0 5px;
  margin: 0 3em;
  padding: 0 1em;
  display: flex;
  align-items: center;
}
.menu img {
  height: 100%;
}

.paginator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.paginator .page {
  margin: 0 5px;
}
