body {
  /* background-image: url("http://imagizer.imageshack.com/a/img924/5383/6TKpYP.jpg"); */
  background-image: url("/SeoniBackground.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.App {
  font-family: "Alegreya", serif;
  display: flex;
  flex-direction: column;
}

.Page {
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
}

.folk-section {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh; */
}

.folk-list {
  width: 100%;
  margin: 50px;
}

.base-card {
  height: 13em;
  /* min-width: 22em; */
  font-size: 1.2em;
}

.folk-card:hover {
  transform: translate(-1px, -1px);
  box-shadow: 3px 3px 6px;
}

.folks-filters {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
}

.folk-modal p {
  word-wrap: break-word;
}

.menu {
  /* height: 100%; */
  /* background-color: white;
  border-radius: 0 0 8px 8px;
  box-shadow: 2px 0 5px;
  margin: 0 3em;
  padding: 0 1em;
  display: flex;
  align-items: center; */
}

.menu-img {
  width: 3em;
}

.paginator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.paginator .page {
  margin: 0 5px;
}
